<launch>
    <node name="map_node" pkg="map" type="map_node.py" output="screen" />

    <param name="map_width" type="double" value="10.0" />
    <param name="map_height" type="double" value="10.0" />
    <param name="map_resolution" type="double" value="0.2" />
    <param name="ground_truth_map_image_file_name" type="str" value="$(find visualiser)/maps/simple_map.png" />
    <!--<param name="map_image_file_name" type="str" value="$(find visualiser)/maps/simple_map.png" />-->
</launch>
