<launch>
    <node name="localisation_node" pkg="localisation" type="localisation_node.py" output="screen">
        <param name="number_of_readings" type="int" value="7" />
        <param name="scanner_min_angle" type="double" value="-1.57" />
        <param name="scanner_max_angle" type="double" value="1.57" />
        <param name="scanner_angle_increment" type="double" value="0.5233" />
        <param name="hit_sigma" type="double" value="0.5" />
    </node>
</launch>
