<launch>
    <param name="robot_description" textfile="$(find visualiser)/robot_models/four_wheel.urdf" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" required="true" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" value="60"/>
    </node>

    <node name="motion_controller_node" pkg="navigation" type="motion_controller_node.py" />
    <param name="linear_velocity" type="double" value="0.02" />
    <param name="angular_velocity" type="double" value="0.02" />

    <node name="laser_scan_publisher" pkg="robot" type="laser_scan_publisher.py" output="screen">
        <param name="number_of_readings" type="int" value="18" />
        <param name="scanner_min_angle" type="double" value="-1.57" />
        <param name="scanner_max_angle" type="double" value="1.57" />
        <param name="scanner_angle_increment" type="double" value="0.1744" />
    </node>

    <include file="$(find map)/launch/map.launch" />
    <include file="$(find localisation)/launch/localisation.launch" />
</launch>
